body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  width: 100%;
  overflow: auto;
  user-select: none;
}

.player-space,
.computer-space {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.flex-break {
  width: 100%;
}

/* Status messages */

.message-space {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
}

.message-space.hidden {
  display: none;
}

.message-space__reset-btn.hidden {
  display: none;
}

.message-space__outcome-msg {
  font-size: 2rem;
}

.message-space__outcome-msg.hidden {
  display: none;
}
