body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.player-space,
.computer-space {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
