/* Ships status/selection list */

.player-ship-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 20px;
  width: 125px;
}

.player-ships,
.computer-ships {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  border: 2px solid var(--midnight);
  border-radius: var(--default-border-radius);
}

.player-ships {
  width: 100%;
}

.computer-ships {
  align-self: flex-start;
  width: 125px;
}

.computer-ships_transparent {
  filter: opacity(0);
}

.player-ships__ship,
.computer-ships__ship {
  padding: 5px;
}

.player-ships__ship:not(.player-ships__ship:last-child),
.computer-ships__ship:not(.computer-ships__ship:last-child) {
  border-bottom: 1px solid var(--midnight);
}

.player-ships__ship {
  cursor: pointer;
  background-color: var(--ship-bg-color);
}

.player-ships__ship:hover:not(.player-ships__ship_placed, .player-ships__ship_selected) {
  background-color: var(--ship-hover-color);
}

.player-ships__ship_selected {
  background-color: var(--ship-selected-color);
  cursor: unset;
}

.player-ships__ship_undamaged,
.computer-ships__ship_undamaged {
  background-color: var(--ship-undamaged-color);
}

.player-ships__ship_damaged,
.computer-ships__ship_damaged {
  background-color: var(--ship-damaged-color);
}

.player-ships__ship_sunk,
.computer-ships__ship_sunk {
  background-color: var(--ship-bg-color);
}

/* Ship direction rotation */

.ship-direction {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  border: 2px solid var(--midnight);
  border-radius: var(--default-border-radius);
  padding: 5px;
  width: 100%;
  color: var(--midnight);
  font-weight: bold;
}

.ship-direction__rotator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid var(--midnight);
  border-radius: 5px;
  background-color: var(--mild-white);
}

.ship-direction__rotator:hover:not(.ship-direction__rotator_selected) {
  background-color: var(--direction-hover-color);
  cursor: pointer;
}

.ship-direction__rotator_selected {
  background-color: var(--direction-selected-color);
}

.ship-direction__title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  text-align: center;
}

.ship-direction__rotator_up {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.ship-direction__rotator_right {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.ship-direction__rotator_down {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.ship-direction__rotator_left {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.ship-direction.hidden {
  display: none;
}
