.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid black; /* TODO: remove */
}

.gameboard__tile {
  width: fit-content;
  border: 1px solid black; /* TODO: remove */
}
